<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Event Analysis</title>
  <meta name="generator" content="Bootply"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="../tests/event_analysis/css/bootstrap.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="../tests/event_analysis/css/styles.css" rel="stylesheet">
</head>
<body>
<!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" href="#">Event Analysis</a>
    </div>
  </div>
  <!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">

  <div class="row">
  </div>
  <!-- upper section -->
  <div class="row">
    <i>*Events from the last {{ WEEKS_PAST_CONSIDERED }} Weeks</i>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Action</th>
        <th>Average Occurrences Per Student Per Week</th>
        <th>Percent of Occurrences</th>
      </tr>
      </thead>
      <tbody>
      {% for action in events %}
        <tr>
          <td>{{ action.name }}</td>
          <td>{{ (action.occurrences / student_count)  | number_format(2) }}</td>
          <td>{{ (action.occurrences / total_event_count * 100)  | number_format(2) }}%</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <!--/col-span-9-->
  </div>
  <!--/row-->
</div>
<!--/container-->
<!-- /Main -->


<footer class="text-center">This Bootstrap 3 dashboard layout is compliments of <a
    href="http://www.bootply.com/85850"><strong>Bootply.com</strong></a></footer>

<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="../tests/event_analysis/js/bootstrap.min.js"></script>
</body>
</html>
