<style>
  body {
    font-size: 20px;
    font-family: Arial, Helvetica;
  }
</style>
<h4>You need at least 1 subscribed teacher to view the test email!</h4>

<a target="_blank" href="https://github.com/Arubaruba/moodle_reminders#how-to-subscribe-all-teachers">Github README:</a>
Subscribing all Teachers through an SQL Query
