.student-engagement-table-container {
  overflow: auto;
  max-height: 400px;
}
.student-row td {
  border-bottom: 1px #8ec4ce solid;
}
.student-row:last-child td
{
  border-bottom: none;
}
.student-row td:first-child
{
  border-bottom: none;
}
.last-login {
  padding-top: 10px;
  padding-left: 38px;
  font-family: Verdana, Arial;
  color: #4b5863;
  font-size: 10px;
  text-wrap: avoid;
}

.last-course-accessed {
  font-family: Verdana, Arial;
  color: #8d9ca4;
  font-size: 10px;
  text-wrap: avoid;
  padding-bottom: 10px;
}

.todo-info-box {
  background: rgb(211, 231, 235);
  box-sizing: border-box;
  padding: 0 5px;
}

.todo-items {
  padding-top: 17px;
}

/* Thanks to BalusC on Stackoverflow */
.selectable {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.todo-list-label {
  color: #648d97 !important;
  font-family: Arial, Helvetica;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  margin: 8px 0 10px 0;
  padding: 6px 0 0 0;
}

.todo-disclaimer {
  margin-left: 0;
  padding-right: 0;
}

.student-engagement-info {
  padding: 4px 3px 3px 24px;
  background: #eaf4f7;
}

.student-engagement-label {
  color: #648d97 !important;
  font-family: Arial, Helvetica;
  text-align: left;
  font-weight: bold;
  font-size: 22px;
  margin: 0 0 6px 0;
  padding: 6px 0 0 0;
}

.score-description {
  color: #4b5863;
  font-family: Verdana, Arial;
  text-align: left;
  font-size: 11px;
  line-height: 18px;
  margin: 0 0 12px 0;
}

table.student-engagement {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 99%;
  color: #4b5863;
  font-family: Verdana, Arial;
  text-align: left;
  font-size: 11px;
  line-height: 18px;
  margin: 0 0 8px 0;
  padding-right: 10px;
}

table.student-engagement td {
  padding: 3px;
}

body, div.outer {
  padding: 0;
  margin: 0;
  background: url(images/bg_body.gif);
  background-repeat: repeat-y no-repeat;
  background-position: top center;
  background-color: #3d4852;
}

a:link, a:visited {
  color: #fd4d53;
  text-decoration: underline;
}

a:hover, a:active {
  color: #3994b5;
  text-decoration: underline;
}

a {
  font-weight: bold;
  font-family: Verdana, Arial;
  color: #8d9ca4;
  font-size: 10px;
  text-align: center;
  text-wrap: avoid;
}

td.date {
  background-image: url(images/header_mbg.gif);
  background-repeat: repeat-y no-repeat;
  background-position: top center;
  background-color: #f2f8fa;
}

img {
  display: block;
  padding: 0;
  border: 0 none;
  margin: 0;
}

img.inline {
  display: inline;
}

.texttopbottom p {
  font-family: Verdana, Arial;
  color: #8d9ca4;
  font-size: 10px;
  margin: 0;
  text-align: center;
}

p.month {
  color: #4dc8da;
  font-family: Arial, Helvetica;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

p.year {
  color: #b4ebf3;
  font-family: 'Arial Black', Arial, Helvetica;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ffffff;
  font-family: 'Arial Black', Arial, Helvetica;
  font-size: 48px;
  line-height: 39px;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 1px #1b5362;
}

.whitecol h2 {
  color: #3994b5 !important;
  font-family: Arial, Helvetica;
  text-align: left;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}

.whitecol h3 {
  color: #648d97 !important;
  font-family: Arial, Helvetica;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  margin: 0 0 6px 0;
  padding: 6px 0 0 0;
}

.whitecol p {
  color: #4b5863;
  font-family: Verdana, Arial;
  text-align: left;
  font-size: 11px;
  line-height: 18px;
  margin: 0 0 8px 0;
}

.whitecol ul, .whitecol ol {
  padding: 0;
  margin: 20px 0 10px 20px;
}

.whitecol ul {
  list-style-image: url(images/bullet_white.gif);
}

.whitecol ol {
  padding: 0;
  margin: 20px 0 10px 20px;
}

.whitecol ul li, .whitecol ol li {
  color: #4b5863;
  font-family: Verdana, Arial;
  font-size: 11px;
  line-height: 18px;
  padding: 3px 0 10px 0;
  border-top: 1px dotted #9c9c93;
}

.bluecol h2 {
  color: #82867b !important;
  font-family: Arial, Helvetica;
  text-align: left;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1;
  margin: 20px 0;
}

.bluecol h3 {
  color: #648d97 !important;
  font-family: Arial, Helvetica;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  padding: 6px 0 0 0;
}

.bluecol p {
  color: #636c6a;
  font-family: Verdana, Arial;
  text-align: left;
  font-size: 11px;
  line-height: 18px;
  margin: 0 0 8px 0;
}

.bluecol ul li, .bluecol ol li {
  color: #636c6a;
  font-family: Verdana, Arial;
  font-size: 11px;
  line-height: 18px;
  padding: 0 0 10px 0
}

.bluecol a:link, .bluecol a:visited {
  color: #fe494f;
  text-decoration: none;
}

.bluecol a:hover, .bluecol a:active {
  color: #fe494f;
  text-decoration: underline;
}

.bluecol table.thisissue td {
  border-bottom: 1px dotted #9c9c93;
}

.bluecol table.thisissue td {
  color: #636c6a;
  font-family: Verdana, Arial;
  font-size: 11px;
  padding: 5px 0 5px 0
}

.bluecol table.thisissue a:link, .bluecol table.thisissue a:visited {
  color: #636c6a;
  text-decoration: none;
}

.bluecol table.thisissue a:hover, .bluecol table.thisissue a:active {
  color: #fe494f;
  text-decoration: underline;
}

.border {
  border-bottom: 1px dotted #9c9c93;
  padding-bottom: 15px;
}

.backtotop {
  font-size: 11px;
  line-height: 24px;
}

.backtotop a {
  background: url(images/backtotop.gif) top right no-repeat;
  padding: 0 17px 0 0;
  font-family: Verdana, Arial;
}

.backtotop a:link, .backtotop a:visited {
  color: #92afb6;
  text-decoration: none;
}

.backtotop a:hover, .backtotop a:active {
  color: #fd4d53;
  text-decoration: none;
  background-position: bottom right;
}

.mb-editor-button {
  display: inline;
}

