.content {
  color: #282828;
  padding: 10px;
  margin: 0;
  background: #fff;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  background: green;
}

.message {
  background: #fff;
  color: #333;
  font-weight: bold;
  font-size: 13px;
}

.last-login {
  font-weight: normal;
  color: #828282;
  font-size: 12px;
}

.course-container {
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.course-container:first-child {
  margin-top: 20px;
}

.course-name {
  text-decoration: underline;
  color: #594d7e;
  font-weight: bold;
  font-size: 27px;
}

.indicator-container {
  position: relative;
}

.indicator {
  width: 300px;
  margin-right: 30px;
  float: left;
}

.indicator:last-child {
  width: auto;
  min-width: 300px;
}

.indicator-title {
  display: block;
  font-weight: bold;
  color: #594d7e;
  font-size: 20px;
  padding-bottom: 5px;
}

.indicator-box {
  border: 1px solid #ededed;
  font-size: 16px;
  margin-top: 17px;
}

.indicator-box:nth-child(2) {
  margin-top: 0;
}

.indicator-box-half {
  text-align: center;
  float: left;
  width: 140px;
  box-sizing: border-box;
  margin-top: 0;
}

.indicator-box-half:last-child {
  float: right;
}

.indicator-box-empty {
  font-weight: bold;
  color: #b1b1b1;
  padding: 14px;
}

.item-box {
  color: #fff;
  background: #594d7e;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #436da1;
}

.item-content {
  border: 1px solid #ededed;
}

.item-score-description {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  padding: 5px 0;
}

a.item-name {
  font-size: 14px;
  font-weight: bold;
  color: inherit;
  text-decoration: underline;
}

.item-subtext-area {
  font-size: 14px;
}

.item-subtext-label:first-of-type {
  margin-left: 0;
}

.ungraded-submissions-title {
  font-size: 13px;
  font-weight: bold;
  padding: 3px;
}

.student-table {
  font-size: 12px;
  width: 100%;
}

.student-table tr:nth-child(odd) {
  background: #ededed;
}
.student-table td {
  padding: 3px;
}

.student-table td:last-child {
  text-align: right;
}

.unsubscribe-instructions {
  color: #5d5d5d;
  font-size: 11px;
}

.unsubscribe-title {
  font-weight: bold;
  color: #333333;
}

.unsubscribe-settings-link {
  color: inherit;
  font-weight: bold;
}
